---
import "../styles/global.css";
import guideData from "../assets/guide.json";
import Button from "../components/Button.astro";
---
<main class="min-h-full bg-white px-6 py-24 text-pretty text-left sm:py-32 lg:px-8">
    <div class="max-w-3xl mx-auto">
        <p class=`text-[3rem] font-semibold text-teal-600`>Een snelle handleiding</p>
    </div>

    { guideData.map((item) => {
        return (
            <div class="max-w-3xl mx-auto">
                <h1 class="mt-12 text-[6rem] font-semibold tracking-tight text-gray-900">{item.title}</h1>
                <p class="mt-12 text-[3rem] font-medium text-gray-500">{item.content}</p>
            </div>
        );
    })}

    <div class="max-w-3xl mx-auto">
        <h1 class="mt-12 text-[6rem] font-semibold tracking-tight text-balance text-gray-900">Ready?</h1>
        <p class="mt-12 mb-24 text-[3rem] font-medium text-gray-500">Als jullie denken er volledig klaar voor te zijn, dan beginnen we eraan!</p>
        <Button url="" label="Let's go!" />
    </div>
</main>