---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
---

<BaseLayout icon="🥾" title="Home">
  <main class="p-6">
    <Navigation />
  </main>
</BaseLayout>