---

---
<div id="nav" class="font-['j31-regular'] text-[4vh] flex gap-5 justify-between">
    <a id="undo-button" class="text-j31-yellow px-4 bg-j31-dark-blue rounded-xl active:bg-j31-blue active:scale-[0.9]">1 stap terug</a>
    <a href="/j31-fish-tinder/guide" class="text-j31-yellow px-4 bg-j31-dark-blue rounded-xl active:bg-j31-blue active:scale-[0.9]">Help</a>
</div>