---
import LogoZwartZonderText from '../assets/svg/LogoZwartZonderTekst.svg';
---
<div id="nav" class="flex justify-between items-center">
    <div class="">
        <LogoZwartZonderText class="w-16 h-16"/>
    </div>
    <div class="font-['j31-regular'] text-[4vh] flex gap-5">
        <a id="undo-button" class="text-j31-blue">1 stap terug</a>
        <a href="/j31-fish-tinder/guide" class="text-j31-yellow">Help</a>
    </div>
</div>