---
import LogoZwartZonderText from '../assets/svg/LogoZwartZonderTekst.svg';
---
<div id="nav" class="flex justify-between items-center">
    <div class="">
        <LogoZwartZonderText class="w-23 h-23"/>
    </div>
    <a href="/j31-fish-tinder/guide" class="font-['j31-regular'] text-[5vh] text-j31-blue">Help</a>
</div>